<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>[[${application.const.PROJECT_NAME}]]([[${application.const.PROJECT_VERSON}]])</title>
        <link th:href="@{/assets/plugins/sweetalert/dist/sweetalert.css}" rel="stylesheet" type="text/css">

        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/components.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/pages.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/menu.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js}"></script>
        <![endif]-->
        
        
     	<!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
		
		<script type="text/javascript" th:src="@{/plugins/layer/layer.js}"></script>
        <script type="text/javascript" th:inline="javascript"> 
        	var webroot = "[(@{/})]";
        </script>
        
    </head>
    
    <body>
      
   			<!-- Start content -->
          <div class="content">
              <div class="container" id="container">
                  <!-- Page-Title -->
                  <div class="row">
                      <div class="col-sm-12">
                          <h4 class="breadcrumb pull-left">角色管理</h4>
                          <ol class="breadcrumb pull-right">
                              <li><a href="#">角色列表</a></li>
                              <li class="active">基础数据</li>
                          </ol>
                      </div>
                  </div>
              
               <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-color panel-info">
                                    
                                    <div class="panel-body">
                                    
										   <button type="button" onclick="openWin();" class="btn btn-primary btn-rounded waves-effect waves-light m-b-15"><i class="fa ion-plus-circled "> </i> 新增角色</button>
										   <table class="table table-bordered table-striped" >
												    <tr>
												    	<td style="text-align: center;width:60px;">序号</td>
														<td style="text-align: center;width:150px;">角色代码</td>
														<td style="text-align: center;">角色名称</td>
														<td style="text-align: center;">系统内置</td>
														<td style="text-align: center;width:100px;">操作</td>
												   </tr>
												   <tr th:each="role,roleStatus:${roles}">
												   			<td style="text-align: center;" th:text="${roleStatus.count}"></td>
															<td style="text-align: center;" th:text="${role.id}"></td>
															<td style="text-align: center;" th:text="${role.rolename}"></td>
															<td style="text-align: center;" th:text="${role.inlay == 'y' ? '是' : '否' }"></td>
															<td style="text-align: center;" >
																<div class="btn-group">
																	<button th:class="|btn btn-primary btn-xs  waves-effect|" th:onclick="|javascript:modify('${role.id}')|">授权</button>
						        								 	<button th:class="|btn btn-pink waves-effect waves-light btn-xs ${role.inlay == 'y' ? 'disabled' : '' }|"  th:onclick="|javascript:del('${role.inlay}','${role.id}')|">删除</button>
																</div>
															</td>
													</tr>
											</table>
                                    </div> <!-- Panel-body -->
                                    
                                </div> <!-- Panel -->
                            </div> <!-- col-->
                            
                        </div> <!-- End row -->
              </div> <!-- end container -->
       </div> <!-- content -->
       <script type="text/javascript" th:inline="javascript"> 
	        function openWin(){
	        	var index = layer.open({
	        		type: 2,
	                title: '新增角色',
	                maxmin: true,
	                //shadeClose: true, //点击遮罩关闭层
	                area : [$(window).width()+"px" , $(window).height()+"px" ],
	                // area : ["370px", "420px" ],
	                content: "[(@{/role/turnAdd})]"
	              });
	        	//layer.full(index);
	        }
	        
	        function modify(id){
        		 var index = layer.open({
 	        		type: 2,
 	                title: '角色授权',
 	                maxmin: true,
 	                area : [$(window).width()+"px" , $(window).height()+"px" ],
 	                content:  "[(@{/})]role/turnModify/"+id
 	              });
 	        	 layer.full(index);
			}
			
			function del(inlay,id){
				if("y" == inlay ){
					layer.msg("错误：系统内置角色，不能删除!",function(){});
	        	}else{
	        		var url = "[(@{/})]role/delete/"+id;
					var cwin = layer.confirm('确定要删除吗?', {
						btn: ['删除','放弃'] //按钮
					}, function(cwin){
						layer.close(cwin);
						 $.get(url,function(data) {
							 if(data.status == "ok"){
								 layer.msg("操作成功!", {icon: 6},function(){
									 document.location.href = "[(@{/})]role/list";
		     					 });
							 }else{
								 layer.msg("错误："  + data.staus +" , " +data.msg);
							 }
					 	 });
					}, function(cwin){
						layer.close(cwin);
					});  
	        	}
			}
        </script>
    </body>
</html>