<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>[[${application.const.PROJECT_NAME}]]([[${application.const.PROJECT_VERSON}]])</title>
        <link th:href="@{/assets/plugins/sweetalert/dist/sweetalert.css}" rel="stylesheet" type="text/css">

        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/components.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css">



        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js}"></script>
        <![endif]-->
        
        
     <!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
		<script type="text/javascript" th:src="@{/plugins/layer/layer.js}"></script>
       
        
    </head>


    <body>
        

   <!-- Start content -->
          <div class="content">
              <div class="container" id="container">
                  <!-- Page-Title -->
                  <div class="row">
                      <div class="col-sm-12">
                          <h4 class="breadcrumb pull-left">导入日志</h4>
                          <ol class="breadcrumb pull-right">
                              <li><a href="#">导出表格</a></li>
                              <li class="active">实列</li>
                          </ol>
                      </div>
                  </div>
              
               <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-color panel-info">
                                    
                                    <div class="panel-body">
                                    	<div class="alert alert-danger fade in">
                                            <h4>导入要求!</h4>
                                           
                                            <ol>
                                               <li>必须是有效的Excel文件,Excel2003版本的xls文件或者Excel2007以上的版本的Xlsx文件.</li>
                                               <li>导入字段填写说明：
	                                               	<ul>
	                                                    <li>Phasellus iaculis neque</li>
	                                                    <li>Purus sodales ultricies</li>
	                                                    <li>Lorem ipsum dolor sit amet</li>
	                                                    <li>Consectetur adipiscing elit</li>
	                                                </ul>
                                               </li>
                                            </ol>
                                            <p></p>
                                            <p>
                                              <a th:href="@{/attach/template/log}" class="btn btn-success waves-effect waves-light"><i class="fa fa-cloud-download"> </i> 下载导入模板</a>
                                            </p>
                                        </div>
										 
										
										 <div class="row">
						                            <div class="col-sm-12">
						                            
						                             <form class="form-horizontal" id="impForm" name="impForm" role="form"   enctype="multipart/form-data"   th:action="@{/example/imp}"  method="post" >    
						                                <input type="hidden" name="SesToken" th:value="${session.SesToken }"/>
						                                <div class="panel panel-color panel-info m-t-10">
						                                	<div class="panel-heading"><h3 class="panel-title">导入日志</h3></div>
						                                    <div class="panel-body">
                           
						                                            <div class="form-group">
						                                                <label class="col-md-2 control-label">上传导入的表格文件</label>
						                                                <div class="col-md-6">
						                                                    <input id="file" name="file"  class="form-control" required=""  value="" placeholder="请上传文件" type="file">  
						                                                </div>
						                                            </div>
						                                            
						                             				<div class="form-group  m-b-0">
						                                                <div class="col-sm-offset-2 col-sm-10">
						                                                  <button type="submit" class="btn btn-primary waves-effect waves-light" >
						                                                  		<i class="md md-add "> </i>  上传文件
						                                                  </button>
						                                                </div> 
						                                            </div>
						                                        
						                                    </div> <!-- panel-body -->
						                                </div> <!-- panel -->
						                            
						                            </form>
						                            
						                            </div> <!-- col -->
						                        </div> 
										   

                                    </div> <!-- Panel-body -->
                                    
                                </div> <!-- Panel -->
                            </div> <!-- col-->
                            
                        </div> <!-- End row -->
              </div> <!-- end container -->
          </div> <!-- content -->

   
         <script type="text/javascript" th:inline="javascript"> 
         	[# th:if="${result ne null}"]
         		if("[(${result.status})]" == 'ok'){
         			layer.msg("[(${result.msg})]",{icon: 6});
         		}else{
         			layer.msg("[(${result.msg})]");
         		}
         	[/]
         </script>
      
    
    </body>
</html>