<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">
<title>[[${application.const.PROJECT_NAME}]]([[${application.const.PROJECT_VERSON}]])</title>
<!-- Plugin Css-->
<link rel="stylesheet"
	th:href="@{/assets/plugins/magnific-popup/dist/magnific-popup.css}">
<link rel="stylesheet"
	th:href="@{/assets/plugins/jquery-datatables-editable/datatables.css}">

<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet"
	type="text/css">
<link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css">
<link th:href="@{/assets/css/icons.css}" rel="stylesheet"
	type="text/css">
<link th:href="@{/assets/css/components.css}" rel="stylesheet"
	type="text/css">
<link th:href="@{/assets/css/pages.css}" rel="stylesheet"
	type="text/css">
<link th:href="@{/assets/css/menu.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" th:href="@{/plugins/ztree/zTreeStyle.css}"
	type="text/css">
<link th:href="@{/assets/css/responsive.css}" rel="stylesheet"
	type="text/css">
<script th:src="@{/assets/js/modernizr.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/js/jquery1.8.min.js}"></script>
<script type="text/javascript"
	th:src="@{/plugins/ztree/jquery.ztree.core-3.4.js}"></script>
<script type="text/javascript" th:inline="javascript">
	var setting = {
		async : {
			enable : true,
			url : "/wj_question/asyncGetNodes",
			autoParam : [ "id", "pid", "name" ],//异步加载时需要自动提交父节点属性的参数
			dataFilter : filter
		//异步获取到节点的name属性
		},
		data : {
			simpleData : {
				enable : true,
				idKey : 'id',
				pIdKey : 'pid',
				rootPId : 0
			}
		},
		check : {
			//chkboxType: { "Y": "ps", "N": "ps" },
			chkStyle : "checkbox",//复选框类型
			enable : true
		//每个节点上是否显示 CheckBox 
		},
		view : {
			showIcon : true, //显示节点图标
			dblClickExpand : false,//双击节点时，是否自动展开父节点的标识
			showLine : true,//是否显示节点之间的连线
			fontCss : {
				'color' : 'black',
				'font-weight' : 'bold'
			},//字体样式函数
			selectedMulti : false
		//设置是否允许同时选中多个节点
		},
		callback : {
			beforeClick : function(treeId, treeNode) {
				zTree = $.fn.zTree.getZTreeObj("zTree");
				if (treeNode.isParent) {
					zTree.expandNode(treeNode);//如果是父节点，则展开该节点
				} else {
					zTree.checkNode(treeNode, !treeNode.checked, true, true);//单击勾选，再次单击取消勾选
				}
			
			}
		}
	};

	$(document).ready(
			function() {
				initZTree();
				var treeObj = $.fn.zTree.getZTreeObj("zTree"), nodes = treeObj
						.getCheckedNodes(true), v = "";
				for (var i = 0; i < nodes.length; i++) {
					v += nodes[i].name + ",";
					alert(nodes[i].id); //获取选中节点的值
				}
			});

	function filter(treeId, parentNode, childNodes) {
		return childNodes;
	}
	//初始化树
	function initZTree() {
		$.ajax({
			url : "/wj_question/getTreeList",
			type : "post",
			dataType : "json",
			success : function(data) {
				console.log(data);
				var zTreeObj = $.fn.zTree.init($("#zTree"), setting, data);//zTree的初始化方法
				//让第一个父节点展开
				var rootNode_0 = zTreeObj.getNodeByParam('pid', 0, null);
				zTreeObj.expandNode(rootNode_0, true, false, false, false);
			},
			error : function() {

			}
		});
	}
	function onCheck(e, treeId, treeNode) {
		var treeObj = $.fn.zTree.getZTreeObj("zTree"), nodes = treeObj
				.getCheckedNodes(true), v = "";
		for (var i = 0; i < nodes.length; i++) {
			v += nodes[i].name + ",";
			alert(nodes[i].id); //获取选中节点的值
		}
	}
	function addParent(){
		
	}
</script>
</head>
<body>
	<div class="content">
		<div class="container">

			<p style="font-family: inherit; margin: 2mm 5mm; font-size: 12pt;">您现在的位置:
				题库管理 >> 试题分类</p>
			<div class="divider"></div>
			<div class="panel panel-primary"
				style="margin-left: 5mm; margin-top: 5mm; border: 1px solid #61777559; overflow-y: scroll; height:930px; float: left; width: 20%; display: inline-table">
				<div class="panel-heading"
					style="background-color: #317eeb; height: 10mm;">
					<h3 class="panel-title"></h3>
				</div>
				<div class="panel-body">
					<ul id="zTree" class="ztree"></ul>
				</div>
			</div>
			
			<div class="panel panel-primary"
				style="margin-right: 5mm; margin-top: 5mm; border: 1px solid #61777559; overflow-y: scroll; height: 930px; float: right; width: 76.5%; display: inline-table">
				<div class="panel-heading"
					style="background-color: #317eeb; height: 10mm;">
					<h3 class="panel-title"></h3>
				</div>
				<div class="panel-body">
				<div class="form-group">
				<!-- <select multiple class="form-control">
      <option>江苏</option>
      <option>浙江</option>
      <option>山西</option>
      <option>云南</option>
      <option>河南</option>
    </select> -->
    		
				    <label for="name" style="margin-left: 160mm;font-family: inherit;font-size: 12pt;float: left;margin-top: 2mm; margin-right: 4mm;">题库名称 :</label>
				    <input type="text" class="form-control" placeholder="请输入文本" style="width:20%; float:left;margin-right:2mm;">
				    <button type="button" onclick="openWin();"
						class="btn btn-primary btn-rounded waves-effect waves-light m-b-15">
						<span class="glyphicon glyphicon-search"></span>点我查询
					</button>
				    <button type="button" onclick="addParent();"
						class="btn btn-primary btn-rounded waves-effect waves-light m-b-15">
						<span class="glyphicon glyphicon-plus"></span> 新增分类	
					</button>
				  </div>
					<table class="table table-bordered table-striped">
						<tr>
							<td style="text-align: center; width: auto;">序号</td>
							<td style="text-align: center; width: auto;">题库名称</td>
							<td style="text-align: center; width: auto;">创建时间</td>
							<td style="text-align: center; width: auto;" width="100px">操作</td>
						</tr>
						<tr th:each="data,dataStatus:${pageModel.data }">
										<td style="text-align: center;">[[${(pageModel.curpage-1) * pageModel.pagecount+ dataStatus.count }]]</td>
										<td style="text-align: center;" >[[${data.name }]]</a></td>
										<td style="text-align: center;" >[[${#dates.format(data.creattime, 'yyyy-MM-dd')}]]</td>
										
										<td style="text-align: center;">
											<div class="btn-group" style="justify-content:center;">
											    <a class="btn btn-success btn-xs  waves-effect"  th:href="|javascript:addChild('${data.id}')|"><span class="glyphicon glyphicon-plus"></span>添加子分类</a>
												<a class="btn btn-primary btn-xs  waves-effect"  th:href="|javascript:modify('${data.id}')|"><span class="glyphicon glyphicon-pencil"></span>编辑分类</a>
	        								 	<a class="btn btn-danger waves-effect waves-light btn-xs"  th:href="|javascript:del('${data.id}')|"><span class="glyphicon glyphicon-remove"></span>删除</a>
											</div>
										</td>
									</tr>
									 <tr th:if="${pageModel.data == null }">
										  <td style="text-align: center;" colspan="5">
										  	无查询记录
										  </td>
									 </tr> 
					</table>
					<div th:replace="public/splitpage::#splitpageform(formAction='/wj_question/list')"></div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>