<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>[[${application.const.PROJECT_NAME}]]([[${application.const.PROJECT_VERSON}]])</title>
        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/components.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/pages.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/menu.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css">

        <script th:src="@{/assets/js/modernizr.min.js}"></script>


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>


        <div class="wrapper-page">
            <div class="panel panel-color panel-primary panel-pages">
                <div class="panel-heading bg-img"> 
                    <div class="bg-overlay"></div>
                    <h3 class="text-center m-t-10 text-white"> [[${application.const.PROJECT_NAME}]] <strong>([[${application.const.PROJECT_VERSON}]])</strong> </h3>
                </div> 


                <div class="panel-body">
                <form class="form-horizontal m-t-20" th:action="@{/login}"  method="post" >
                    <b style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></b>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control input-lg" name="username" type="text" value="admin" required="" placeholder="账号">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-12">
                            <input class="form-control input-lg" name="password" type="password"  value="666666" required="" placeholder="密码">
                        </div>
                    </div>
                    
                     <div class="form-group">
                        <div class="col-xs-4">
                            <input class="form-control input-lg" name="vrifyCode" type="text"  placeholder="验证码">
                        </div>
                        <div class="col-xs-8">
                            <img alt="验证码" onclick = "this.src='/kaptcha?d='+new Date()*1" th:src="@{/kaptcha}" /> 
                        </div>
                    </div>

                    <div class="form-group text-center m-t-40">
                        <div class="col-xs-12">
                            <button class="btn btn-block btn-lg btn-primary waves-effect waves-light" type="submit">登 录</button>
                        </div>
                    </div>
                </form> 
                </div>                                 
                
            </div>
        </div>

        
    	<script>
            var resizefunc = [];
        </script>

        <!-- Main  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/detect.js}"></script>
        <script th:src="@{/assets/js/fastclick.js}"></script>
        <script th:src="@{/assets/js/jquery.slimscroll.js}"></script>
        <script th:src="@{/assets/js/jquery.blockUI.js}"></script>
        <script th:src="@{/assets/js/waves.js}"></script>
        <script th:src="@{/assets/js/wow.min.js}"></script>
        <script th:src="@{/assets/js/jquery.nicescroll.js}"></script>
        <script th:src="@{/assets/js/jquery.scrollTo.min.js}"></script>

        <script th:src="@{/assets/js/jquery.app.js}"></script>
	
	</body>
</html>