<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>[[${application.const.PROJECT_NAME}]]([[${application.const.PROJECT_VERSON}]])</title>
        <link th:href="@{/assets/plugins/sweetalert/dist/sweetalert.css}" rel="stylesheet" type="text/css">

        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/components.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css">

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js}"></script>
        <![endif]-->

     	<!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script th:src="@{/plugins/layer/layer.js}"></script>
		<script th:src="@{/webjars/github-com-fex-team-webuploader/0.1.5/dist/webuploader.min.js}"></script>
        <link th:href="@{/plugins/webuploader/webuploader.common.v1.css}" rel="stylesheet" type="text/css">
        <script type="text/javascript" th:inline="javascript">
          var webroot = "[(@{/})]";
        </script>
    </head>



    <body>
        

   <!-- Start content -->
          <div class="content">
              <div class="container" id="container">
                  <!-- Page-Title -->
                  <div class="row">
                      <div class="col-sm-12">
                          <h4 class="breadcrumb pull-left">WebUploader上传文件</h4>
                          <ol class="breadcrumb pull-right">
                              <li><a href="#">文件上传</a></li>
                              <li class="active">实列</li>
                          </ol>
                      </div>
                  </div>

                  <div class="row">
                            <div class="col-sm-12">
                            
                             <form class="form-horizontal" id="creatorForm" name="creatorForm" role="form"   th:action="@{/example/webuploadergroup}"  method="post" >    
                                <input type="hidden" name="SesToken" th:value="${session.SesToken }"/>
                                <div class="panel panel-color panel-info m-t-10">
                                	<div class="panel-heading"><h3 class="panel-title">WebUploader(多组)</h3></div>
                                    <div class="panel-body">
                                    		
                                    		 <div class="form-group">
                                                <label class="col-md-2 control-label">请假时间</label>
                                                <div class="col-md-10">
                                                   <input id="leavedate" name="leavedate"  class="form-control" required=""  value="2018-07-27" placeholder="请输入请假日期" type="text">
                                                </div>
                                            </div>
                                            
                                             <div class="form-group">
                                                <label class="col-md-2 control-label">请假天数</label>
                                                <div class="col-md-10">
                                                   <input id="days" name="days"  class="form-control" required=""  value="" placeholder="请输入请假天数"  type="text">
                                                </div>
                                            </div>
                                            
                                             <div class="form-group">
                                                <label class="col-md-2 control-label">电话</label>
                                                <div class="col-md-10">
                                                   <input id="mobile" name="mobile"  class="form-control" required=""  value="" placeholder="请输入联系电话" type="text">
                                                </div>
                                            </div>
                                                                       
                                            <div class="form-group">
                                                <label class="col-md-2 control-label">文件上传[组1]</label>
                                                <div class="col-md-10">
                                                    <div class="uploder-container">
														<div class="uploader-info">
														    <!-- 定义 文件表单名称-->
															<div class="uploader-info-name">AssetApply1</div>
															 <!-- 定义 上传文件个数-->
															<div class="uploader-info-limit">30</div>
														</div>
														<div class="webuploader-ext" >
														    <!-- 定义 上传文件格式-->
															允许<span class="uploader-ext-format">jpg,pdf</span>格式文件
														</div>
														<div style="margin:3px 0px 5px 0px;">
														    <!-- 拟定一个ID 初始化webUplaoder组件-->
															<div class="uploader-file-btn" id="asset-apply" ><i class="fa fa-cloud-upload"> </i> 请选择要上传附件</div>
															<div class="uploader-file-list"></div>
														</div>
													</div>
                                                </div>
                                            </div>
                                             <div class="form-group">
                                                <label class="col-md-2 control-label">文件上传[组2]</label>
                                                <div class="col-md-10">
                                                    <div class="uploder-container">
														<div class="uploader-info">
														    <!-- 定义 文件表单名称-->
															<div class="uploader-info-name">AssetApply2</div>
															 <!-- 定义 上传文件个数-->
															<div class="uploader-info-limit">30</div>
														</div>
														<div class="webuploader-ext" >
														    <!-- 定义 上传文件格式-->
															允许<span class="uploader-ext-format">jpg,pdf</span>格式文件
														</div>
														<div style="margin:3px 0px 5px 0px;">
														    <!-- 拟定一个ID 初始化webUplaoder组件-->
															<div class="uploader-file-btn" id="asset-apply2" ><i class="fa fa-cloud-upload"> </i> 请选择要上传附件</div>
															<div class="uploader-file-list"></div>
														</div>
													</div>
                                                </div>
                                            </div>
                                            
                             				<div class="form-group  m-b-0">
                                                <div class="col-sm-offset-2 col-sm-10">
                                                  <button type="button"  id="webuploader-btn" class="btn btn-primary waves-effect waves-light" >
                                                  		<i class="md md-add "> </i>  提交表单 
                                                  </button>
                                                </div> 
                                            </div>
                                        
                                    </div> <!-- panel-body -->
                                </div> <!-- panel -->
                            
                            </form>
                            
                            </div> <!-- col -->
                        </div>
                        
              </div> <!-- end container -->
          </div> <!-- content -->
        <script th:src="@{/plugins/webuploader/webuploader.common.v1.js}"></script>
	    <script type="text/javascript" th:inline="javascript">
	    	
			//验证表单,ajax校验请一定要同步
			function verifyForm(){
				//在这里编写提交前要验证的表单
				if( $("#leavedate").val() == ""  ){
	        		 layer.msg('请输入请假日期',function(){
	        			$("#leavedate").focus();
	        		 });
	        		 return false;
	        	}
				//没有选择要上传的文件
				if(!checkFileVals("AssetApply1")){
					 layer.msg('组1,请选择要上传的文件');
	        		 return false;
				}
				if(!checkFileVals("AssetApply2")){
					 layer.msg('组2,请选择要上传的文件');
	        		 return false;
				}
				return true;
			}
			
			//表单提交
			function submitForm(){
				$.post(document.creatorForm.action, $("#creatorForm").serialize(), function(data) {
    				 if(data.status == "ok"){
    					 layer.msg("添加成功!", {icon: 6},function(){
    						
    					 });
    				 }else if(data.status == "error"){
    					 layer.msg("错误 :" + data.msg,function(){
 
    					 });
    				 }
    			 });	
			}
			
			
		</script>

    </body>
</html>