<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>[[${application.const.PROJECT_NAME}]]([[${application.const.PROJECT_VERSON}]])</title>
        <!-- Plugin Css-->
        <link rel="stylesheet" th:href="@{/assets/plugins/magnific-popup/dist/magnific-popup.css}">
        <link rel="stylesheet" th:href="@{/assets/plugins/jquery-datatables-editable/datatables.css}">

        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/core.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/components.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/pages.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/menu.css}" rel="stylesheet" type="text/css">
        <link th:href="@{/assets/css/responsive.css}" rel="stylesheet" type="text/css">

        <script th:src="@{/assets/js/modernizr.min.js}"></script>

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js}"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js}"></script>
        <![endif]-->

        <!-- jQuery  -->
        <script th:src="@{/assets/js/jquery.min.js}"></script>
        <script th:src="@{/assets/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/layer/layer.js}"></script>
        <script type="text/javascript" th:src="@{/plugins/laydate/laydate.js}"></script>
		<script type="text/javascript" th:inline="javascript"> 
		  	var webroot = "[(@{/})]";
			laydate.render({ elem: '#search-opttimege',type: 'datetime'});
			laydate.render({ elem: '#search-opttimele',type: 'datetime'});
		</script>
    </head>


    <body>
        

   <!-- Start content -->
          <div class="content">
              <div class="container" id="container">
                  <!-- Page-Title -->
                  <div class="row">
                      <div class="col-sm-12">
                          <h4 class="pull-left breadcrumb">日志查询</h4>
                          <ol class="breadcrumb pull-right">
                              <li><a href="#">日志</a></li>
                              <li class="active">基础数据</li>
                          </ol>
                      </div>
                  </div>
                  
                  
                                <!--搜索-->
               <div class="row"> 
                    <div class="col-md-12">
                        <div class="panel panel-color panel-info" style="margin-bottom:4px;">
                                <div class="panel-body">
                                   		<form id="searchform" name="searchform" class="form-inline" th:action="@{/log/list}" role="form"  method="post">
											<div class="form-group">
                                                <label style="width:80px;text-align:right">操作人</label>
                                                <input class="form-control" id="search-userid" name="userid"   type="text"  maxlength="12" >
                                            </div>
											<div class="form-group">
                                                <label style="width:80px;text-align:right">执行动作</label>
                                                <input class="form-control" id="search-action" name="action"   type="text"  maxlength="32" >
                                            </div>
											<div class="form-group">
                                                <label style="width:80px;text-align:right">IP</label>
                                                <input class="form-control" id="search-ip" name="ip"   type="text"  maxlength="16" >
                                            </div>
											<div class="form-group">
                                                <label style="width:80px;text-align:right">开始时间</label>
                                                <input class="form-control" id="search-opttimege" name="opttimege" onfocus="javascript:this.blur();" onpaste="return false"  />
                                            </div>
                                            <div class="form-group">
                                                <label style="width:80px;text-align:right">结束时间</label>
                                                <input class="form-control" id="search-opttimele" name="opttimele" onfocus="javascript:this.blur();" onpaste="return false"  />
                                            </div>
									        
                                            <div class="btn-group">
												<button type="submit" class="btn btn-info waves-effect waves-light" ><i class="ion-search"> </i> 搜索</button>
											</div>
                                        </form>
                                </div>
                        </div>
                    </div> <!--搜索 col-->               
               </div> <!--搜索 row-->
                  
                  
                  
              
               <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-color panel-info">
                                    
                                    <div class="panel-body">
                                    
										   <table class="table table-bordered table-striped" >
												    <tr>
												    	<td style="text-align: center;width:70px;">序号</td>
												        <td>操作人</td>
												        <td>执行动作</td>
												        <td>IP</td>
												        <td>操作时间</td>
												        <td>结果</td>
												        <td width="80px;" style="text-align: center;">客户端</td>
												   </tr>
												   <tr th:each="data,dataStatus:${pageModel.data }">
														<td style="text-align: center;">[[${(pageModel.curpage-1) * pageModel.pagecount+ dataStatus.count }]]</td>
												        <td>[[${data.realname }]]</td>
												        <td>[[${data.action }]]</td>
												        <td>[[${data.ip }]]</td>
												        <td>[[${data.opttime }]]</td>
												        <td>[[${data.result }]]</td>
												        <td style="text-align: center;"><span class="label label-info" data-toggle="tooltip" data-placement="left" title="" th:data-original-title="${data.browser }">浏览器</span>
													</tr>
											</table>
											<div th:replace="public/splitpage::#splitpageform(formAction='/log/list')"></div>
                                    </div> <!-- Panel-body -->
                                    
                                </div> <!-- Panel -->
                            </div> <!-- col-->
                            
                        </div> <!-- End row -->
                        
                        
                        
                        
                        
              </div> <!-- end container -->
          </div> <!-- content -->

        <script th:src="@{/assets/js/jquery.app.js}"></script>
       
    </body>
</html>